doctype 5
html(lang="en")
    head
        title File sending application
        link(media='screen', rel='stylesheet', type='text/css', href='/styles/style.css')
        link(media='screen', rel='stylesheet', type='text/css', href='libs/jquery-ui.css')
        script(src='libs/jquery-2.0.3.min.js')
        script(src='libs/jquery-ui.js')
        script(src='/socket.io/socket.io.js')
        script(src='/js/sender.js')
        script(type='text/javascript').
          var socket = io.connect('http://localhost/sender'),
              sender = new Sender(socket);

          $(window).load(function () {
                        var $uploadControl = $("#UploadInput");
                        $uploadControl.on('change', function (event) {
                            file = $uploadControl.get(0).files[0];
                            sender.register(file, function (link) {
                                $("#linkContainer").text(link);
                                $("#linkContainer").attr('href', link);
                                $("#uploadScreen").hide();
                                $("#linkScreen").css("display", "table");
                                            $(sender).on("startUpload", function () {
                                    $("#progressBar").progressbar({value: false});
                                    $("#linkScreen").hide();
                                    $("#uplodingScreen").css("display", "table");
                                });
                                            $(sender).on("progress", function (event, value) {
                                    $("#progressBar").progressbar("value", parseInt(value));
                                });
                                            $(sender).on("endUpload", function () {
                                    $("#uplodingScreen").hide();
                                    $("#finishScreen").css("display", "table");
                                });
                            });
                        });
                                    $("#upload-btn").on("click", function (ev) {
                            ev.preventDefault();
                            $uploadControl.click();
                        })
                    });
    body
        .content
            .upload-container
                #uploadScreen.layout
                    .message-center
                        h1 Welcome,
                        h2 to send file please click upload button.
                    .button-bottom
                        a#upload-btn.upload-button Upload

                #linkScreen.layout
                    .message-center
                        h1 Your personal link is:
                        h2
                            a#linkContainer.file-link
                        h4 Please sent it to recipient.

                #uplodingScreen.layout
                    .message-center
                        h1 Your file currently uploading
                        #progressBar

                #finishScreen.layout
                    .message-center
                        h1 Your file successfully uploaded
                        a.upload-button Upload new file

input#UploadInput.upload-input(type="file")