doctype 5
html(lang="en")
    head
        title File sending application
        link(media='screen', rel='stylesheet', type='text/css', href='../styles/style.css')
        link(media='screen', rel='stylesheet', type='text/css', href='../libs/jquery-ui.css')
        script(src='../libs/jquery-2.0.3.min.js')
        script(src='../libs/jquery-ui.js')
        script(src='../socket.io/socket.io.js')
        script(src='../js/recipient.js')
        script(type='text/javascript').
          var socket = io.connect('http://localhost/recipient'),
            receiver = null;

            $(window).load(function () {
                $("#download-link").on("click", function (ev) {
                    ev.preventDefault();
                    receiver = new Receiver(socket, fileInfo);
                    receiver.onProgress = function (value) {
                        $("#progressBar").progressbar("value", value);
                    };

                    $("#progressBar").progressbar({value: false});
                    $("#startScreen").hide();
                    $("#downloadingScreen").css("display", "table");

                    receiver.start(function (error, result) {
                        console.log(result.url);
                        $("#save-link").attr('href', result.url);
                        $("#downloadingScreen").hide();
                        $("#finishScreen").css("display", "table");
                    });
                });
            });

        script(type='text/javascript').
            var fileInfo = !{JSON.stringify(fileInfo)};
body
    .content
        .upload-container
            #startScreen.layout
                #fileInfo.message-center
                    h1 Welcome, you requesting file
                    h3= 'Name: ' + fileInfo.name
                        br
                        ='Size: ' + fileInfo.size.value + ' ' + fileInfo.size.type
                .button-bottom
                    a#download-link.upload-button Download

            #downloadingScreen.layout
                .message-center
                    h1 File currently downloading
                #progressBar

            #finishScreen.layout
                .message-center
                    h1 Download complete
                    a#save-link.upload-button Save file